#SuiteNavWrapper{
    display: none !important;
  }
  
  #sp-appBar {
    display: none !important;
  }
  
  #spSiteHeader {
    display: none !important;
  }
  
  #spLeftNav {
    display: none !important;
  }
  
  #spCommandBar {
    display: none !important;
  }